$white: #fff;
$black: #000;
$light-gray: #EBEBF5;
$blue-purple-500: #45278B;
$dark-blue-500: #2E335A;

$base-text-color: $white;
$base-form-text-color: $base-text-color;

$base-background-lighter: $blue-purple-500;
$base-background-darkness: $dark-blue-500;

$base-form-text-color: rgba($light-gray, .6);
