@import './variables';

:host {
  height: 100%;
  flex: 1;
  color: #fff;

  .card {
    &-holder {
      height: 100%;
      padding: 30px 20px;
      border-radius: 10px;
      text-align: center;
      color: $base-text-color;
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 30px;
      min-height: 100%;
    }

    &-header {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
    }
  }

  .image-holder {
    img {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      max-width: 100%;
    }
  }
}
